<h1>Analysis</h1>

<div class="leaderboard">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Goals</th>
        <th scope="col">Tasks</th>
        <th scope="col">Actions</th>
        <th scope="col">Feedback</th>
      </tr>
    </thead>
    <tbody>
        <td scope="row">Establish the name of the player<br>Establish score and turns left<br>Establish win or loss</td>
        <td scope="row">Decide on the name<br>Display the new template<br>Play game<br>
        Player starts<br>Update template<br>Update score<br>Update turns left<br>Update letters which have not been used yet</td>
        <td scope="row">
            <%if $name!=""%>Set name for player: <%=$name%><br><%end%>
            <%if $usedletters%>
                <%for i in (0..$usedletters.length)%>
                    Player taps letter <%=$usedletters[i]%> <br>
                    
                <%end%>
            <%end%>
        </td>

    </tbody>
  </table>
</div>