<div class="home">
  <h1>This is the Hangman Game!</h1>
  <p>
    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      View rules
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      - Firstly, click on NEW GAME(option inside the navbar). <br>
      - In order to start the game itself, type a name of your choice with a maximum of 10 characters which will be automatically saved on the LEADERBOARD page. <br>
      - Click on PLAY GAME and try to find the secret word! You are given 5 lives! Hint: the words are related to duck species.<br>
      - The initial score is set to a value equal to the number of letters multiplied by 100.<br>
      - For each letter typed, which is not in the secret word, the score will decrease by a value equal to the number of letters in the word multiplied by 10.<br>
      - The score does not change if you type a letter from the secretword.<br>
      - The spaces are already displayed as empty squares and the player must ONLY type letters.<br>
      - A form with all the letters of the alphabet will be updated each time you type a letter.This way, you will know 
      which letters you have already typed and the remaining letters. However, if you still type an already-used letter,
      an alert message will be displayed, but your score will not change.<br>
      - At the end of the game, you will get an alert message which will tell you whether you have won the game or not. If you fail, 
      your score will automatically be 0. You will be redirected to the LEADERBOARD page where you will be able to see
      your name, your score, and the secret word which you may or may not have guessed.You will also be able to see your position in the leaderboard compared
      to other players.<br>
      - The ANALYSIS page will display in real time an analysis of players' attempt to guess the secret word. It refreshes each time a new game is started.<br>
      GOOD LUCK! 
    </div>
  </div>
</div>
