<div class="home">
  <h1>This is the Hangman Game!</h1>
  <p>
    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      View rules
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      - Firstly, click on NEW GAME(option inside the navbar). <br>
      - In order to start the game itself, type a name of your choice which will be automatically saved on the LEADERBOARD page. <br>
      - Click on PLAY GAME and try to find the secret word! You are given 5 lives!<br>
      - The initial score is set at a value equal to the number of letters multiplied by 100.<br>
      - For each typed letter which is not in the secret word, the score decreases by 100.<br>
      - The score does not change if you type a letter from the secretword.<br>
      - The spaces will be displayed as an empty square and they are already considered; the player must type ONLY letters 
      - A form with all the letters of the alphabet will be updated each time you type a letter. In this way, you would know 
      which letters you have already typed and the remaining letters. However, if you still type an already-used letter,
      an alert message will be displayed, but your score will not change.<br>
      - At the end of the game, you will get an alert message which will tell you whether you won the game or not. If you fail, 
      your score will be automatically 0. You will be redirected to the LEADERBOARD page where you will be able to see
      your name, your score, and the secret word which you might have guessed or not, and your position in the leaderboard compared
      to other players.<br>
      - The ANALYSIS page will display in real time an analysis of player's attempt to guess the secret word. It refreshes each time a new game is started<br>
      GOOD LUCK! 
    </div>
  </div>
</div>
