<div class="home">

<h1>This is the Hangman Game!</h1>

<p>
  <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    View rules
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    1) Firstly, click on NEW GAME(option inside the navbar). <br>
    2) In order to start the game itself, type a name of your choice which will be automatically saved on the LEADERBOARD page. <br>
    3) Click on PLAY GAME and try to find the secret word! You have 5 turns!<br>
    4) The initial score is set at a value equal to the number of letters multiplied by 100.<br>
    5) For each typed letter which does not figure in the secret word, the score decreases by 100.<br>
    6) The score does not change if you type a letter from the secretword.<br>
    7) A form with all the letters of the alphabet will be updated each time you type a letter. In this way, you would know 
    which letters you have already typed and the remaining letters. However, if you still type an already-used letter,
     an alert message will be displayed, but your score will not change.<br>
    8) At the end of the game, you will get an alert message which will tell you wheter you won the game or not. If you fail, 
    your score will be automatically 0. You will be redirected to the LEADERBOARD page where you will be able to see
    your name, your score, and the secret word which you might have guessed or not, and your position in the leaderboard compared
    to other players.<br>
    9)The ANALYSIS page will display in real time an analisys of each player's attempt to guess the secret word.<br>
    GOOD LUCK! 
  </div>
</div>
</div>