<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/icon.png">
    <link rel="stylesheet" href="/style.css">
    <title>Hangman</title>
  </head>

  <body>
    <header>
      <img src="/hangman.jpg">
    </header>
    <div class="template">
      <%for i in (0...$template[1].length)%>
      <%if $template[1][i]=="_"%>
        <button id="btn1">
          
         
          </button>
          <%else%>
          <button id="btn2">
              <%=$template[1][i]%>
          <%end%>
          </button>
        
      <%end%>
      <form action="/" method="post">
        <input type="text" name="letter" required>
        <input type="submit">
      </form>
    </div>
    <div class="view_content">
    </div>
  </body>
  <footer>
    <p>Created by Darius Dragnea, 51984000</p>
  </footer>

</html>
