h1 {
  text-align: center;
}

#home {
  top: 10em;
  text-align: center;
  position: absolute;
  font-size: 20px;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  background-image: url("https://turntable.kagiso.io/images/Suicide_istock.width-800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: cursive;
}
.navbar {
  display: table;
  background-color: #2e2021;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}
.template > p {
  color: red;
}
.template {
  width: 100%;
}

form {
  margin: 200px;
  position: relative;
  bottom: 10em;
}

#text {
  width: 35px;
  position: relative;
  left: 20em;
  top: 10em;
}
#textname {
  width: 35px;
}

#type {
  position: relative;
  left: 10em;
  top: 7em;
}

.btn {
  margin: 10px;
  background-color: #2e2021;
  color: white;
}

#btn1,
#btn2 {
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  background-color: #2e2021;
  color: white;
  font-size: 20px;
}

#btn1 {
  background-image: url("cooltext341388901523657.png");
  background-color: black;
  background-size: cover;
}

.navbar > a {
  color: white;
  text-decoration: none;
  background-color: none;
}

.alphabet {
  position: relative;
  bottom: 32em;
  left: 0;
  background-color: rgb(56, 16, 15);
  width: 20%;
}

.alphabet > button .name > button {
  width: 20px;
  float: center;
  text-align: center;
}

.lives {
  position: relative;
  top: -50px;
  display: inline-block;
}

.lives > button {
  width: 120px;
  position: relative;
  left: 22.5em;
  bottom: 10em;
}

.template > a {
  text-decoration: none;
}

.template > a:hover {
  text-decoration: none;
}

.view_content {
  grid-row-start: 2;
  grid-row-end: 3;

  color: white;

  min-height: 100vh;
}

.name > button {
  width: 135px;
  color: white;
  background-color: #2e2021;
  border: 0;
}

.leaderboard {
  
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

th,td{
  background-color: #2e2021;
}

footer {
  background-color: #2e2021;
}

.card {
  background-color: #2e2021;
  width: 50%;
  text-align: left;
  position: relative;
  left: 20em;
}

.home {
  text-align: center;
}

.input-group-text {
  color: white;
  background-color: #2e2021;
  border-color: #2e2021;
}

.buttons {
  position: absolute;
  bottom: 20em;
  left: 20em;
}
